<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const CHATROOM_ID = "<%= chatRoomId %>"
    </script>
     <script src="/socket.io/socket.io.js" defer></script>
     <!-- <script src="http://localhost:4000/socket.io/socket.io.js"></script> -->
    <script src="/chatScript.js" defer></script>
    <link rel="stylesheet" href="/chatStyle.css">
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script>
        window.onload = function askName() {
            const username = prompt("Please enter your name.");
            if(username == "" || username == null){
                document.getElementById("username").innerHTML = "Anonymous";
            }
            else if (username != null) {
                document.getElementById("username").innerHTML = username;
                // console.log(username)
            } 
        }
        function copyToClipboard(){
            var copycode = CHATROOM_ID
            var dummy = document.createElement("textarea");
            dummy.value = copycode
            document.body.appendChild(dummy);
            dummy.select()
            document.execCommand("copy")
            // alert("Copied the call code: " + dummy.value);
            document.body.removeChild(dummy);
        }
    </script>
    <title>Teams Chat</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    Teams Chat 
                </h1>
                <div onclick="copyToClipboard()" class="text-center">
                    <button style="text-align: center;">Copy code</button>
                 </div>
                <div id="chat">
                    <textarea id="username" style="display: none;" ></textarea>
                    <!-- <input type="text" id="username" class="form-control" placeholder="Enter name..."> -->
                    <br>
                    <div class="card">
                        <div id="messages" class="card-block" style="overflow-y: scroll; height:500px;">

                        </div>
                    </div>
                    <br>
                    <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                </div>
                
            </div>
        </div>
    </div>


</body>
</html>